<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        دسته‌بندی محصولات
        
    </a>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        {% for category_parent in categories_parent %}
        <li class="dropdown-item dropdown">
            <a href="{% url 'shop:category-products' pk=category_parent.id %}" class="dropdown-link">
                {{ category_parent.title }}
            </a>
            {% if category_parent.children.all %}
            <ul class="dropdown-menu dropdown-submenu">
                {% for child in category_parent.children.all %}
                <li>
                    <a href="{% url 'shop:category-products' pk=child.id %}" class="dropdown-link">{{ child.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</li>
